body {
    width: 100%;
    min-height: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
li {
    list-style: none;
}

.container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    /* justify-content: center; */
    align-items: center;
    width: 300px;
    height: 60vh;
    border: 1px solid gray;
}

.startBtn {
    width: 70%;
    margin-bottom: 10px;
}
.inputBox {
    padding-top: 10px;
}
.inputBox::before {
    content: "";
    display: block;
    padding-top: 10px;
    border-top: 1px solid lightgray;
}
.hints {
    border: 1px solid lightgray;
    display: block;
    height: 200px;
    overflow-y: scroll;
}